[submodule "src/Swiftly/Dependency"]
	path = src/Swiftly/Dependency
	url = git@github.com:SwiftlyPHP/dependency.git
[submodule "src/Swiftly/Http"]
	path = src/Swiftly/Http
	url = git@github.com:SwiftlyPHP/http.git
[submodule "src/Swiftly/Routing"]
	path = src/Swiftly/Routing
	url = git@github.com:SwiftlyPHP/routing.git
[submodule "src/Swiftly/Config"]
	path = src/Swiftly/Config
	url = git@github.com:SwiftlyPHP/config.git
